.wrapper {
    display: grid;
    grid-row: 1;
}
.calenderWrapper
{
  padding:'0px -16px'
}
.icon {
    grid-column: 1 / 10;
    grid-row: 1;
    align-content: center;
    padding-top:  15px;
    padding-left: 10px;
    font-size: large;
    color:gray;    
  }
  .buttonWrapper
  {
display: grid;
  }
  .button {
    width: 250px;
    grid-row: 1;
    align-content: center;
    outline-color: gray;
    padding-top:  15px;
    padding-left: 10px;
    font-size: large;
    color:gray;
    
  }
  .textControl {
    grid-column: 3 / 12;
    grid-row: 1;
    padding-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .textDescription {
    grid-column: 3 / 12;
    grid-row: 1;
    padding-top: 15px;
    color: rgb(75, 73, 73);
    font-weight: 600;
  }
  .assigneeControl {
    grid-column: 3 / 12;
    grid-row: 1;
    padding-top: 15px;
    
    padding-top: -1px;
    color: rgb(75, 73, 73);
    font-weight: 600;
  }