.menuButton{
    padding-left: 10px;
    width: 295px;
    font-size: large;
    height: 40px;
    align-content:center;
    border: none;
    cursor: pointer;
    
}
.listButtonText{
    padding-left: 10px;
    width: 270px;
    font-size: large;
    height: 40px;
    text-align: left;
    columns: 1/5;
    background-color: white;
    border: none;
    cursor: pointer;    
}
.iconTick {
    grid-column: 8 / 10;
    grid-row: 1;
    align-content: center;
    padding-left: 25px;
    font-size: x-large;
    color:green;    
  }
  
.arrrow {
    grid-column: 8 / 10;
    grid-row: 1;
    align-content: center;
    padding-left: 25px;
    font-size: x-large;
    color:gray;    
  }