.iconOpen {
    grid-column: 1 / 10;
    grid-row: 1;
    align-content: center;
    outline-color: gray;
    padding-left: 10px;
    font-size: larger;
    color:gray;    
  }
  .iconInProgress {
    grid-column: 1 / 10;
    grid-row: 1;
    align-content: center;
    outline-color: gray;
    padding-left: 10px;
    font-size: larger;
    color:blue;    
  }
  .iconCompleted {
    grid-column: 1 / 10;
    grid-row: 1;
    align-content: center;
    outline-color: gray;
    padding-left: 10px;
    font-size: larger;
    color:green;
  }    
  
  .tasktextDescription {
    grid-column: 3 / 12;
    grid-row: 1;
    color: rgb(75, 73, 73);
    font-weight: 600;
  }