.iconOpen {
    grid-column: 1 / 10;
    grid-row: 1;
    padding-top: -5px;
    align-content: center;
    outline-color: gray;
    padding-left: 10px;
    font-size: large;
    color: rgb(0, 120, 212);  
  }
  .iconInProgress {
    grid-column: 1 / 10;
    grid-row: 1;
    align-content: center;
    outline-color: gray;
    padding-left: 10px;
    padding-top: 1px;
    font-size: larger;
    color: rgb(0, 120, 212);
  }
  .iconCompleted {
    grid-column: 1 / 10;
    grid-row: 1;
    align-content: center;
    outline-color: gray;
    padding-left: 10px;
    padding-top: 1px;
    font-size: larger;
    color:green;
  }    
  
  .tasktextDescription {
    grid-column: 3 / 12;
    grid-row: 1;
    color: rgb(75, 73, 73);
    font-weight: 500;
    
  }